GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://healthdata-import.devnull.co.uk/oauth/callback
TOKEN_ENCRYPTION_KEY=
OPEN_WEARABLES_URL=https://healthdata-api.devnull.co.uk
OPEN_WEARABLES_USER_ID=
OPEN_WEARABLES_API_KEY=
APP_SESSION_SECRET=
APP_ADMIN_USER=mark
INITIAL_SYNC_DAYS=30
